@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  background-color: var(--background-color);
  color: #fff;
}

:root {
  --card-color: #1b2530;
  --background-color: #0f171e;
  --text-color: #8197a4;
}

img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  border-bottom: 1px solid #cdcdcd;
}

header #logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  font-weight: 600;
  border: 2px solid #000;
  border-radius: 50%;
  padding: 13px;
}

header #link a {
  text-decoration: none;
  font-size: 20px;
  margin-left: 60px;
}

header #link #movie {
  text-decoration: underline;
}

#counter {
  position: absolute;
  text-align: center;
  right: 60px;
  top: 89px;
  padding: 7px 0;
  border: 2px solid #000;
  width: 290px;
  box-shadow: 3px 3px #292929;
}

#home {
  width: 95%;
  display: grid;
  grid-template-columns: 17.5% 17.5% 17.5% 17.5% 17.5%;
  gap: 43px;
  margin: 40px auto;
}

#home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-color);
  border-radius: 7px;
}

#home .container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

#home .container .caption {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
  padding: 0px 10px;
  background-color: var(--card-color);
}

#home .container .caption .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

#home .container .caption .title .rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-color);
}

#home .container .caption .title .rating button {
  font-size: 15px;
  padding: 5px 8px;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 13px;
}

#home .container .caption .title .rating button:hover{
  background-color: var(--text-color);
  color: var(--background-color);
  border: var(--background-color);
}

#home .container .caption .title .rating .ratingNumber {
  font-size: 15px;
  margin-right: 5px;
}

#home .container .caption .title .rating .imdb {
  font-family: 'Anton', sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  border-radius: 3px;
  padding: 2px 4px;
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
}

#home .container .caption .sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  color: var(--text-color);
}

#home .container .caption #like {
  font-size: 14px;
}

#home .container .caption .fa-heart {
  font-size: 27px;
  transition: all 0.3s ease-in-out;
}

#home .container .caption .fa-heart:hover {
  cursor: pointer;
  transform: translateY(-10%);
}

#home .container .caption .fa-heart:active {
  transform: scale(1.2);
}

.Btn {
  width: fit-content;
  padding: 5px;
  align-self: flex-end;
  border: var(--my-border);
  box-shadow: 2px 2px black;
  cursor: pointer;
}

#home .container button:hover {
  cursor: pointer;
}

#home .container button:active {
  box-shadow: none;
}

footer {
  padding: 30px;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #cdcdcd;
  background-color: #fff;
}

.close {
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding-right: 25px;
}

.image {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: auto;
  object-fit: cover;
  gap: 30px;
  justify-content: center;
}

#picture {
  object-fit: fill;
  width: 500px;
}

h2 {
  font-size: 50px;
}

.comment {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  overflow-y: auto;
}

.comment-container {
  background: rgba(151, 148, 147, 70%);
  backdrop-filter: blur(3px);
  padding: 30px 50px;
  gap: 15px;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
}

.properties {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  column-gap: 80px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add_comment {
  gap: 15px;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 5px;
}

textarea {
  padding: 5px;
  width: 300px;
  height: 60px;
}

.hide {
  display: none;
}
