@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  background-color: var(--background-color);
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #252e39;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

:root {
  --card-color: #1b2530;
  --background-color: #0f171e;
  --text-color: #8197a4;
}

img {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 47px;
  background-color: var(--card-color);
}

header #logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  font-weight: 600;
  color: #f2f4f6b3;
  border: 2px solid #f2f4f6b3;
  border-radius: 50%;
  padding: 13px;
}

header #link a {
  color: #f2f4f6b3;
  text-decoration: none;
  font-size: 20px;
  margin-left: 60px;
}

header #link a:first-child {
  text-decoration: underline;
}

/* home interface */
#counter {
  position: absolute;
  text-align: center;
  right: 103px;
  top: 110px;
  padding: 13px 0;
  width: 240px;
  background-color: #252e39;
  border-radius: 3px;
}

#home {
  width: 93%;
  display: grid;
  grid-template-columns: 17.5% 17.5% 17.5% 17.5% 17.5%;
  gap: 30px;
  margin: 100px auto 30px auto;
  padding-left: 50px;
}

#home .container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-color);
  border-radius: 5px;
}

#home .container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#home .container .caption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
  padding: 0 10px;
  background-color: var(--card-color);
}

#home .container .caption .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

#home .container .caption .title .name {
  font-size: 18px;
}

#home .container .caption .title .rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-color);
}

#home .container .caption .title .rating button {
  font-size: 16px;
  padding: 5px 10px;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 8px;
}

#home .container .caption .title .rating button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  border: 1px solid var(--background-color);
}

#home .container .caption .title .rating button .fa-plus {
  margin-left: 6px;
  font-size: 15px;
  transform: translateY(2%);
}

#home .container .caption .title .rating .ratingNumber {
  font-size: 14.5px;
  margin-right: 5px;
}

#home .container .caption .title .rating .imdb {
  font-family: 'Anton', sans-serif;
  font-size: 13.5px;
  letter-spacing: 0.6px;
  border-radius: 3px;
  padding: 2px 4px;
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
}

#home .container .caption .subcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  color: var(--text-color);
}

#home .container .caption #like {
  font-size: 14px;
}

#home .container .caption .fa-heart {
  font-size: 27px;
  transition: all 0.3s ease-in-out;
}

#home .container .caption .fa-heart:hover {
  cursor: pointer;
  transform: translateY(-10%);
}

#home .container .caption .fa-heart:active {
  transform: scale(1.2);
}

#home .container button:hover {
  cursor: pointer;
}

#home .container button:active {
  box-shadow: none;
}

/* info popup */
#info {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  overflow-y: auto;
  background-color: var(--background-color);
  z-index: 9999;
}

.info-container {
  position: relative;
  margin: 40px auto;
  width: 92%;
}

.info-container .fa-xmark {
  font-size: 45px;
  position: absolute;
  right: -1.2%;
  top: -2.5%;
  color: var(--text-color);
}

.info-container .fa-xmark:hover {
  cursor: pointer;
  color: #fff;
}

.info-container .info-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 50px;
  color: var(--text-color);
}

.info-container .info-card .info-img img {
  width: 350px;
  height: auto;
}

.info-container .info-card .info-text h1 {
  margin-top: -5px;
  font-size: 30px;
  color: #fff;
  margin-bottom: 8px;
}

.info-container .info-card .info-text .subtitle {
  font-size: 13.5px;
  margin-bottom: 30px;
}

.info-container .info-card .info-text .subtitle .imdb {
  font-family: 'Anton', sans-serif;
  font-size: 12px;
  letter-spacing: 0.6px;
  border-radius: 3px;
  padding: 2px 4px;
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
  margin-right: 7px;
}

.info-container .info-card .info-text .subtitle .genre {
  margin-left: 10px;
}

.info-container .info-card .info-text .subtitle .genre span {
  margin-right: 5px;
}

.info-container .info-card .info-text .subtitle .genre span::after {
  content: ',';
}

.info-container .info-card .info-text .subtitle .genre span:last-child::after {
  content: '';
}

.info-container .info-card .info-text p {
  margin-bottom: 7px;
  word-spacing: 0.1rem;
}

.info-container .info-card .info-text p span {
  font-family: 'Anton', sans-serif;
  font-size: 15px;
  margin-right: 8px;
}

.info-container .info-card .info-text p a {
  font-size: 14.5px;
  color: #49607c;
}

.info-container .info-card .info-text p a:hover {
  color: var(--text-color);
}

footer {
  padding: 20px;
  bottom: 0;
  width: 100%;
  background-color: var(--card-color);
}

@media screen and (max-width: 768px) {
  header {
    padding: 8px 15px;
  }

  header #logo {
    font-size: 9px;
    padding: 15px;
  }

  header #logo span:last-child {
    width: 43px;
  }

  header #link a {
    font-size: 15px;
    margin-left: 10px;
  }

  #counter {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding: 11px 0;
    width: 205px;
    font-size: 14px;
    background-color: #252e39;
    border-radius: 3px;
  }

  #home {
    grid-template-columns: 47% 47%;
    padding-left: 0;
    gap: 21px;
  }

  #home .container img {
    height: 230px;
  }

  #home .container .caption {
    margin-bottom: 12px;
  }

  #home .container .caption .title {
    gap: 6px;
  }

  #home .container .caption .title .name {
    font-size: 15.5px;
  }

  #home .container .caption .title .rating {
    display: block;
  }

  #home .container .caption .title .rating .imdb {
    font-size: 10px;
    letter-spacing: 0.6px;
    border-radius: 3px;
    padding: 2px 4px;
    margin-right: 5px;
  }

  #home .container .caption .title .rating .ratingNumber {
    font-size: 12.5px;
    margin-right: 5px;
  }

  #home .container .caption .title .rating button {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 5px;
  }

  #home .container .caption .title .rating button .fa-plus {
    margin-left: 6px;
    font-size: 13px;
  }

  #home .container .caption .subcaption {
    position: absolute;
    right: 5%;
    bottom: 8%;
  }

  #home .container .caption #like {
    font-size: 11.5px;
  }

  #home .container .caption .fa-heart {
    font-size: 22px;
  }
}

@media screen and (max-width: 376px) {
  #home {
    width: 90%;
    gap: 18px;
  }

  #home .container img {
    height: 200px;
  }
}

@media screen and (max-width: 321px) {
  #home {
    width: 95%;
    grid-template-columns: 49% 49%;
    gap: 6px;
  }

  #home .container img {
    height: 180px;
  }

  #home .container .caption {
    margin-bottom: 8px;
  }

  #home .container .caption .title {
    gap: 3px;
  }

  #home .container .caption .title .name {
    font-size: 14px;
  }

  #home .container .caption .title .rating .imdb {
    font-size: 9px;
    letter-spacing: 0.3px;
    padding: 1px 2px;
    margin-right: 3px;
  }

  #home .container .caption .title .rating .ratingNumber {
    font-size: 11.5px;
  }

  #home .container .caption .title .rating button {
    font-size: 13px;
    margin-top: 8px;
    padding: 2px 6px;
    border-radius: 4px;
  }

  #home .container .caption .title .rating button .fa-plus {
    margin-left: 5px;
    font-size: 12px;
  }

  #home .container .caption .subcaption {
    bottom: 6%;
  }

  #home .container .caption #like {
    font-size: 9px;
  }

  #home .container .caption .fa-heart {
    font-size: 20px;
  }
}
