@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  background-color: var(--background-color);
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #252e39;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

:root {
  --card-color: #1b2530;
  --background-color: #0f171e;
  --text-color: #8197a4;
}

img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 47px;
  background-color: var(--card-color);
}

header #logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  font-weight: 600;
  border: 2px solid #000;
  border-radius: 50%;
  padding: 13px;
}

header #link a {
  color: #f2f4f6b3;
  text-decoration: none;
  font-size: 20px;
  margin-left: 60px;
}


/* home interface */
#counter {
  position: absolute;
  text-align: center;
  right: 103px;
  top: 110px;
  padding: 13px 0;
  width: 240px;
  background-color: #252e39;
  border-radius: 3px;
}

#home {
  width: 93%;
  display: grid;
  grid-template-columns: 17.5% 17.5% 17.5% 17.5% 17.5%;
  gap: 30px;
  margin: 100px auto 30px auto;
  padding-left: 50px;
}

#home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-color);
  border-radius: 5px;
}

#home .container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#home .container .caption {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
  padding: 0px 10px;
  background-color: var(--card-color);
}

#home .container .caption .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

#home .container .caption .title .name {
  font-size: 18px;
}

#home .container .caption .title .rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-color);
}

#home .container .caption .title .rating button {
  font-size: 15px;
  padding: 4px 9px;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 13px;
}

#home .container .caption .title .rating button:hover{
  background-color: var(--text-color);
  color: var(--background-color);
  border: 1px solid var(--background-color);
}

#home .container .caption .title .rating button .fa-plus {
  margin-left: 4px;
  font-size: 14px;
  transform: translateY(2%);
}

#home .container .caption .title .rating .ratingNumber {
  font-size: 14.5px;
  margin-right: 5px;
}

#home .container .caption .title .rating .imdb {
  font-family: 'Anton', sans-serif;
  font-size: 13.5px;
  letter-spacing: 0.6px;
  border-radius: 3px;
  padding: 2px 4px;
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
}

#home .container .caption .sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  color: var(--text-color);
}

#home .container .caption #like {
  font-size: 14px;
}

#home .container .caption .fa-heart {
  font-size: 27px;
  transition: all 0.3s ease-in-out;
}

#home .container .caption .fa-heart:hover {
  cursor: pointer;
  transform: translateY(-10%);
}

#home .container .caption .fa-heart:active {
  transform: scale(1.2);
}

#home .container button:hover {
  cursor: pointer;
}

#home .container button:active {
  box-shadow: none;
}

/* info popup */
#info {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  overflow-y: auto;
  background-color: var(--background-color);
  z-index: 9999;
}

footer {
  padding: 20px;
  bottom: 0;
  width: 100%;
  background-color: var(--card-color);
}
